@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', Helvetica, sans-serif;
}

body {
  background-color: #3f3f3f;
  margin: 0;
}

.product {
  margin-top: 2rem;
  margin-bottom: 15rem;
}